<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="QuotaGlass"
           Manufacturer="QuotaGlass"
           Version="$(var.MsiVersion)"
           ProductCode="*"
           UpgradeCode="A5EAB091-04C8-41D2-8F9E-2A0BFDC0D7E1"
           Language="1033"
           Scope="perUser"
           InstallerVersion="500"
           Compressed="yes">
    <SummaryInformation Description="QuotaGlass Windows x64 installer" />
    <MediaTemplate EmbedCab="yes" />
    <MajorUpgrade Schedule="afterInstallInitialize"
                  DowngradeErrorMessage="A newer version of QuotaGlass is already installed." />

    <Property Id="ARPNOMODIFY" Value="1" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/medokin/QuotaGlass" />
    <Icon Id="QuotaGlassIcon" SourceFile="..\..\assets\branding\quotaglass.ico" />
    <Property Id="ARPPRODUCTICON" Value="QuotaGlassIcon" />
    <SetProperty Id="ARPINSTALLLOCATION"
                 Value="[INSTALLFOLDER]"
                 After="CostFinalize"
                 Sequence="execute" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="ProgramsFolder" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="QuotaGlass" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="QuotaGlass" />
    </StandardDirectory>

    <Component Id="QuotaGlassApplication"
               Directory="INSTALLFOLDER"
               Guid="2B7C227E-86F8-4C76-A696-EB59FF94B591"
               Bitness="always64">
      <File Id="QuotaGlassExecutable"
            Source="$(var.PayloadDir)\QuotaGlass.exe">
        <Shortcut Id="QuotaGlassStartMenuShortcut"
                  Directory="ApplicationProgramsFolder"
                  Name="QuotaGlass"
                  Description="QuotaGlass"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="QuotaGlassIcon" />
      </File>
      <RemoveFolder Id="RemoveApplicationProgramsFolder"
                    Directory="ApplicationProgramsFolder"
                    On="uninstall" />
      <RemoveFolder Id="RemoveInstallFolder"
                    Directory="INSTALLFOLDER"
                    On="uninstall" />
      <RemoveFolder Id="RemoveProgramsFolder"
                    Directory="ProgramsFolder"
                    On="uninstall" />
      <RegistryValue Root="HKCU"
                     Key="Software\QuotaGlass\Installer"
                     Name="InstallLocation"
                     Type="string"
                     Value="[INSTALLFOLDER]"
                     KeyPath="yes" />
    </Component>

    <SetProperty Id="WixQuietExecCmdLine"
                 Value="&quot;[SystemFolder]reg.exe&quot; delete &quot;HKCU\Software\Microsoft\Windows\CurrentVersion\Run&quot; /v &quot;QuotaGlass&quot; /f"
                 Before="RemoveStaleAutostartValue"
                 Sequence="execute" />
    <CustomAction Id="RemoveStaleAutostartValue"
                  BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)"
                  DllEntry="WixQuietExec"
                  Execute="immediate"
                  Impersonate="yes"
                  Return="ignore" />
    <InstallExecuteSequence>
      <Custom Action="RemoveStaleAutostartValue"
              Before="RemoveFiles"
              Condition="REMOVE=&quot;ALL&quot; AND NOT UPGRADINGPRODUCTCODE" />
    </InstallExecuteSequence>

    <Feature Id="QuotaGlassFeature" Title="QuotaGlass" Level="1">
      <ComponentRef Id="QuotaGlassApplication" />
    </Feature>
  </Package>
</Wix>
